<nav class="navbar navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="">Minni-luokittelija</a>
</nav>

<div class="sidebar">
    <nav class="flex-column nav-pills px-3 py-3">
        <!-- Etusivu (Index @ "/") -->
        <NavLink class="nav-link" href="">
            Home
        </NavLink>

        <!-- Ulkoinen linkki uuteen välilehteen -->
        <a class="nav-link" href="https://projectlexagon.fi" target="_blank" rel="noopener noreferrer">
            ProjectLexagon.fi ↗
        </a>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
